.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .social-links a {
    color: #fff;
    margin-left: 20px;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #007bff;
  }
  